<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="sia20_goelz" >
  
	<xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:property name="diggerbot_calibration_file" value="$(find bot_digger_description)/extrinsics.yaml"/>
  <xacro:property name="calibration_data" value="${load_yaml(diggerbot_calibration_file)}"/>
  <xacro:property name="chassis_type" value="bot_digger_wide_rack" />

	<xacro:include filename="$(find motoman_sia20d_support)/urdf/sia20d_macro.urdf.xacro" />
	<xacro:motoman_sia20d prefix="saw_" transmission_hw_interface="$(arg transmission_hw_interface)"/>

  <!-- end effector -->
  <!-- <xacro:include filename="$(find bot_digger_description)/urdf/include/saw_${type}.urdf.xacro" /> -->
  <xacro:include filename="$(find bot_digger_description)/urdf/include/saw_goelz.urdf.xacro" />
  <!-- attach -->
  <!-- <xacro:ur_ow_robot prefix="saw_" /> -->
  <xacro:ow_saw prefix="saw_" chassis_type="${chassis_type}" calibration_data="${calibration_data}"/>
  
</robot>
