<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="or_ur">
<!-- <xacro:macro name="robo_chisel"> -->
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <xacro:property name="diggerbot_calibration_file" value="$(find bot_digger_description)/extrinsics.yaml"/>
  <xacro:property name="calibration_data" value="${load_yaml(diggerbot_calibration_file)}"/>

  <!-- ur10 -->
  <xacro:include filename="$(find ur16e_description)/urdf/ur16.urdf.xacro" />
  <xacro:ur16_robot prefix="chisel_"/>

  <!-- ROS base_link to UR 'Base' Coordinates transform -->
  <link name="chisel_base"/>
  <joint name="chisel_base_link-base_fixed_joint" type="fixed">
    <!-- NOTE: this rotation is only needed as long as base_link itself is
                not corrected wrt the real robot (ie: rotated over 180
                degrees)
    -->
    <origin xyz="0 0 0" rpy= "0.0 1.5707963267948966 0.0" /> 
    "3.14 -1.5707963267948966 0.0"/
    <parent link="chisel_base"/>
    <child link="chisel_base_link"/>
  </joint>



  <!-- end effector -->
  <xacro:include filename="$(find bot_digger_description)/urdf/include/chisel_bosch.urdf.xacro" />
  <!-- attach -->
  <xacro:ow_chisel prefix="chisel_" chassis_type="bot_digger_narrow_rack" calibration_data="${calibration_data}"/>
  
  <!-- </xacro:macro> -->

</robot>
